<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Strona główna</h1>
    <a href="/bookList"><button>Zobacz listę książek</button></a>
    <a href="/addBook"><button>Dodaj nową książkę</button></a>
</body>
</html>